---
import Section from '../Section.astro';
---

<Section className={'pt-6 pb-0'} title='About'>
	<p class='-mt-6 text-sm opacity-75'>
		Passionate about technological innovation, I specialize in designing scalable web and mobile applications. 
		My expertise covers the entire development lifecycle, from <span class='text-skin-hue'>Backend</span> to <span class='text-skin-hue'>Frontend</span>, with a strong focus on <span class='text-skin-hue'>Cloud</span>, <span class='text-skin-hue'>DevOps</span>, and <span class='text-skin-hue'>AI integration</span>
		to ensure high-performance, automated, and intelligent systems.
	</p>
</Section>
